welcome to {{ ansible_facts.hostname }}
(IP Address: {{ ansible_facts.default_ipv4.address }}

Access is restricted if your not authorized to use it
Please log out from this system

If you have any issues, please contact {{ system_admin_email }}
Phone: {{ system_admin_phone | default('1234 1189 4599') }}
---------------------------------------------------
This message is configured by ansible
---------------------------------------------------
