This is the user list deployed from ansible
---------------------------------------------------

{# For statement #}
{% for user in users %}
{{ user }}
{% endfor %}






---------------------------------------------------------
This is end of user list
